@font-face {
  font-family: Lobster-Regular;
  src: url("../font/Lobster-Regular.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.lobster-font {
  font-family: Lobster-Regular;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
